body{
    background-color: #341256;
    color: #ffffff;
}

a{
    text-decoration: none;
    color: #ffffff;
}

a:hover{
    color: #000000;
}

#botao{
    background-color: #003366;
}

#botao:hover{
    background-color: #5b80b2;
}

button{
    background-color: #003366;
}